.main-header-content {
  height: 55px;
  padding: 0 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: 50%;
    color: $primary-font-color;
    font-family: $cursive-font;
    background: url('/app/assets/images/todd_nichols_logo.svg') left center / 40px 40px no-repeat;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 50%;

    div {
      margin-left: 30px;
    }
  }
}