.main-header-content {
  height: 55px;
  padding: 0 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  z-index: 10;

  .title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: 50%;
    color: $primary-font-color;
    font-family: $cursive-font;

    .logo {
      width: 50px;
      height: 50px;
      background: url('/app/assets/images/todd_nichols_logo_white.svg') left center / 40px 40px no-repeat;

      &:hover {
        cursor: pointer;
      }
    }

  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 50%;

    div {
      margin-left: 30px;
    }
  }
}