$main-font-color: rgba(255, 255, 255, 1);
$main-header-bg-color: rgba(0, 0, 0, 0.75);
$primary-color: rgba(22, 101, 22, 1);
$primary-hover-color: rgba(13, 60, 13, 1);
$link-hover-color: rgba(255, 255, 255, 0.75);